In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

In [2]:
df = pd.read_csv("data/Datensatz.csv")

In [3]:
df.head()

,Unnamed: 0,Alter,Einkommen,Geschlecht,Zeit,KundeNr,Preis,Niederlassung
0,0,30,39919,0.0,29,K1814,NaN,Bayern
1,1,41,53430,0.0,27,K1544,NaN,Baden-Württemberg
2,2,64,73163,0.0,32,K1945,NaN,Baden-Württemberg
3,3,41,36761,0.0,44,K1825,NaN,Baden-Württemberg
4,4,35,42684,1.0,33,K1144,NaN,Nordrhein-Westfalen

In [4]:
Anzahl_Autos = df["Preis"].notna().sum()
Anzahl_Autos

1104

In [5]:
#Aufgabe 2 
#Was ist der Höchst-, Mindest- und Durchschnittspreis der verkauften Autos?

Hoechst_Preis = df["Preis"].max()
print("MAX:", Hoechst_Preis )

Mindest_Preis = df["Preis"].min()
print("Min:", Mindest_Preis)

AVG_Preis = df["Preis"].mean()
print("AVG:", AVG_Preis )

MAX: 165482.31
Min: 21471.65
AVG: 88975.19871376811

In [6]:
#Aufgabe 3 
# Wie hoch war der Gesamtumsatz?

Gesamt_Umsatz = df["Preis"].sum()
print("Gesamt:", Gesamt_Umsatz)

Gesamt: 98228619.38

In [7]:
# Aufgabe 4 
# Wie viele Autos wurden pro Bundesland verkauft?

autos_pro_bundesland = df.groupby('Niederlassung')['Preis'].count()
autos_pro_bundesland

Niederlassung
Baden-Württemberg      205
Bayern                 188
Berlin                 126
Brandenburg             37
Düsseldorf               1
Hamburg                 43
Hessen                  96
Niedersachsen           96
Nordrhein-Westfalen    174
Sachsen                 89
Thüringen               49
Name: Preis, dtype: int64

In [8]:
# Aufgabe 5
# Wie hoch war der durchschnittliche Umsatz pro Bundesland?

auto_preis_pro_bundesland = df.groupby('Niederlassung')['Preis'].mean()
auto_preis_pro_bundesland

Niederlassung
Baden-Württemberg       90969.560000
Bayern                  89344.313245
Berlin                  89584.984048
Brandenburg             86673.640811
Düsseldorf             120215.500000
Hamburg                 85549.499070
Hessen                  85864.929479
Niedersachsen           87963.312500
Nordrhein-Westfalen     88451.758103
Sachsen                 89455.080674
Thüringen               90816.994082
Name: Preis, dtype: float64

In [9]:
# Aufgabe 6
# Haben mehr Frauen oder mehr Männer unsere Autos gekauft?

anzahl_frauen = df[df['Geschlecht'] == 0]['Preis'].count()
anzahl_maenner = df[df['Geschlecht'] == 1]['Preis'].count()

if anzahl_frauen > anzahl_maenner: 
    print("Die Anzahl der Frauen war hoeher:", anzahl_frauen, ", die Anzahl der Maenner dagegen war", anzahl_maenner)
else: 
    print("Die Anzahl der Maenner war hoeher:", anzahl_maenner, ", die Anzahl der Frauen dagegen war", anzahl_frauen)

Die Anzahl der Maenner war hoeher: 706 , die Anzahl der Frauen dagegen war 398

In [10]:
# Aufagbe 7 
# Wie hoch ist das Durchschnittsalter unserer Kunden? (Rüberschauen)

durchschnittsalter = df[df['Preis'].isna()]['Alter'].mean()
print(durchschnittsalter)

49.88103254769921

In [11]:
# Aufgabe 8
# Wie hoch ist das Durchschnittsalter der Besucher in unseren Showrooms?

durchschnittsalter = df[df['Preis'].notna()]['Alter'].mean()
print(durchschnittsalter)

50.3731884057971

In [12]:
# Aufgabe 9 
# Was ist das Durchschnittsalter unserer männlichen Kunden?

anzahl_maenner = df[df['Geschlecht'] == 1]

durchschnittsalter = anzahl_maenner[anzahl_maenner['Preis'].isna()]['Alter'].mean()
print(durchschnittsalter)

49.55922330097087

In [13]:
# Aufgabe 10
# Wie hoch ist das Durchschnittseinkommen unserer Kunden?

Einkommen = df[df['Preis'].isna()]["Einkommen"].mean()
print("Durchschnittseinkommen:", Einkommen)

Durchschnittseinkommen: 59367.43097643097